.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(3, 47, 97), rgb(62, 117, 180));
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Header {
  background-image: linear-gradient(to bottom right, rgb(95, 161, 236), rgb(167, 203, 245));
}

.toast {
  width: 20%;
}

.welcome {
  margin-right: 15%;
  padding-top: 2%;
}

ul {
  background-color: steelblue;
  color: #ffffff;
  font-size: 18px;
  margin: 5px;
  border-radius: 20px;
}

span {
  margin-left: 10px;
}

.btn {
  margin: 4px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, rgb(21, 114, 221), rgb(95, 161, 236));
}

.delButton {
  background-image: linear-gradient(to bottom right, rgb(102, 3, 3), rgb(185, 121, 1));
}

.btn-small {
  margin: 8px;
  border-radius: 15px;
  margin: 2%;
}

.messageList {
  width: 50%;
  margin-left: 25%;
}

.icon {
  color: white
}

.Modal {
 color: black;
}